<% if !user_signed_in? %>
  <div class="jumbotran">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Sign in to review your movies. Give star ratings. A simple web application develop by M Safdar using awesome framework Ruby on Rails.</p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>